.home-point-ingredient__content-bg-in::after,
.home-movie__bg::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgb(40 42 45 / .3);
  pointer-events: none;
}
.home-movie__bg::after { background: rgb(40 42 45 / .5); }
.home-movie__marquee::before { background-image: url('/milky-veil-preview/assets/ui/menu-movie-ticker.svg'); }
