:root {
  --shared-menu-anchor-right: clamp(28px, 2.4vw, 34px);
  --shared-menu-anchor-y: calc(clamp(32px, 2.6vw, 37px) + 24px);
  --shared-scroll-right: 35px;
  --shared-scroll-width: 3px;
  --shared-scroll-height: auto;
  --shared-scroll-home-bottom: 0px;
  --shared-scroll-line-tail: 100px;
}

/* Mobile UI scope: 900px and below. */
@media (max-width: 900px) {
  :root {
    --shared-menu-anchor-right: 30px;
    --shared-mobile-logo-x:15px;
    --shared-mobile-logo-y:12px;
    --shared-mobile-logo-height:55px;
    --shared-menu-anchor-y: 58.5px;



  }
}
