:root {
  --shared-menu-anchor-right: clamp(28px, 2.4vw, 34px);
  --shared-menu-anchor-y: calc(clamp(32px, 2.6vw, 37px) + 24px);
  --shared-scroll-right: 35px;
  --shared-scroll-width: 3px;
  --shared-scroll-height: 288px;
  --shared-scroll-home-bottom: 60px;
}

@media (min-width: 901px) and (max-width: 1300px) {
  :root {
    --shared-scroll-home-bottom: 110px;
  }
}

@media (max-width: 900px) {
  :root {
    --shared-menu-anchor-right: 30px;
    --shared-mobile-logo-x:15px;
    --shared-mobile-logo-y:12px;
    --shared-mobile-logo-height:55px;
    --shared-menu-anchor-y: 58.5px;
    --shared-scroll-home-bottom: calc(66px + env(safe-area-inset-bottom));


  }
}
