@font-face {
  font-family: "MV Shared Noto Sans JP";
  src: url("/milky-veil-preview/assets/fonts/shared-ui/noto-sans-jp-shared.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "MV Shared Noto Serif JP";
  src: url("/milky-veil-preview/assets/fonts/shared-ui/noto-serif-jp-shared.woff2") format("woff2");
  font-style: normal;
  font-weight: 200 900;
  font-display: swap;
}
@font-face {
  font-family: "MV Shared Playfair Display";
  src: url("/milky-veil-preview/assets/fonts/shared-ui/playfair-display-shared.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "MV Text English";
  src: url("/milky-veil-preview/assets/fonts/shared-ui/playfair-display-shared.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "MV Text Japanese";
  src: url("/milky-veil-preview/assets/fonts/shared-ui/zen-kaku-gothic-new-light.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "MV Text Japanese";
  src: url("/milky-veil-preview/assets/fonts/shared-ui/zen-kaku-gothic-new-regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "MV Text Japanese";
  src: url("/milky-veil-preview/assets/fonts/shared-ui/zen-kaku-gothic-new-medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "MV Text Japanese";
  src: url("/milky-veil-preview/assets/fonts/shared-ui/zen-kaku-gothic-new-bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

:root, :host {
  --mv-font-text: "MV Text English", "MV Text Japanese", serif;
  --mh--font-family--base: var(--mv-font-text) !important;
  --mh--font-family--bold: var(--mv-font-text) !important;
  --mh--font-family--en: var(--mv-font-text) !important;
}
